<div class="flex justify-center items-center h-screen">
  <div class="w-80">
    <p class="text-xl font-medium mb-3 text-start">Reset Your Password</p>
    <p class="text-xs mb-5 text-gray-500">Choose a strong new password to protect your account and keep your reading
      journey safe.</p>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="mb-1 block text-sm" for="password">Password</label>
        <input formControlName="password" class="w-full" type="password" id="password" pInputText pSize="small"
               placeholder="********"
               [invalid]="hasError('password')">
        @if (hasError('password', 'required')) {
          <span class="text-red-500 text-xs mt-1 block">Password is required</span>
        } @else if (hasError('password', 'minlength')) {
          <span class="text-red-500 text-xs mt-1 block">Password must be at least 8 characters</span>
        } @else if (hasError('password', 'pattern')) {
          <span class="text-red-500 text-xs mt-1 block">Password must include a number and a lowercase letter</span>
        }
        <div class="text-xs text-gray-400 mt-1">(Password should be at least 15 characters
          OR at least 8 characters including a number and a lowercase letter.)
        </div>
      </div>

      <div class="mb-5">
        <label class="mb-1 block text-sm" for="confirmPassword">Confirm Password</label>
        <input formControlName="confirmPassword" class="w-full" type="password" id="confirmPassword" pInputText
               pSize="small" placeholder="********"
               [invalid]="hasError('confirmPassword')">
        @if (hasError('confirmPassword', 'required')) {
          <span class="text-red-500 text-xs mt-1 block">Please confirm your password</span>
        } @else if (form.hasError('passwordMismatch') && form.get('confirmPassword')?.touched) {
          <span class="text-red-500 text-xs mt-1 block">Passwords do not match</span>
        }
      </div>

      <button class="bg-black text-white py-2 w-full rounded-md font-medium mb-5 cursor-pointer">Reset Password</button>
    </form>
  </div>
</div>
